*{margin:0;
padding: 0;
box-sizing: border-box;
}
body{
    width:100vh;
    height:100vh;
    background-color: #f8e7af;
    display: grid;
    place-items:center;

}
form{
    background-color: #fab1a0;
    padding:80px;
    
}